

html,p,body,ul,figure{
  margin: 0;
  padding: 0;
}

body{
    overflow-x: hidden;
    font-family:"futura-pt";
}
/* width */
::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#eb4a4a; 
  }
.img-brand img{
    max-width: 100%;
    width: 140px;

}
 .btn-wrap a{
   color: #FFFFFF;
   background-color: #eb4a4a;
   padding: 12px 50px;
   border-radius: 2px;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 600;
}
.btn-wrap a:hover{
    color: white;
    background-color: #f38b2a;
}
.banner{
    padding: 50px 0px 50px;
    overflow: hidden;
    
}
.btn-wrap{
    padding-top: 10px;
    text-align: center;
}
.textbox{
    margin-top: -90px;
    position: relative;
}
.dotted-circle{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: dotted;
    border-color: cornflowerblue;
    position: absolute;
    top: 246px;
    left: -60px;
}
.textbox h1{
    color: #eb4a4a;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0px;
    position: relative;
    display: inline-block;
}
.textbox h1::before {
    width:100%;
    height:12px;
    background-color: rgb(236, 236, 45);
    position: absolute;
    left: 0;
    bottom: 10px;
    content: '';
    z-index: -1;
}
  .textbox h6{
letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
  }
.textbox p{
    color:#565678;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;

}
.image-box{position: relative;}
.image-box img{
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  position: relative;
  z-index: 2;  
    
}
.pink-img {
    height: 100px;
    width: 100px;
    background-color: rgb(241, 78, 206);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    transform: translate(50%,-50%);
}
.orange-img{
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right:0px;
    z-index: 1;
    transform: translate(50%,50%);
}
    


.threecols .row {
    --bs-gutter-x:50px;
    
}
.imgidea img{
    height: 80px;
    
}
.img-contentbox{
    text-align: center;
    padding: 30px 48px;
    box-shadow: 0 24px 48px rgb(17 16 62 / 12%);
    mix-blend-mode: multiply;
    height: 100%;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;

}
.img-contentbox:hover{
    transform: translateY(-8px);
}

.text-center h2{
    font-weight:bold ;
    font-size: 40px;
}
.threecols h4{
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #eb4a4a;
}
.threebox .row .col-md-4:nth-child(2) .img-contentbox {
    margin-top: 100px;
  }
  .formfyrii{
      background-color:  #fa987b;
      text-align: center;
      padding: 80px 110px;
      

  }
  .formstrt{
      padding-top: 90px;
  }
  .formfyrii h1{
color: black;
font-weight: 600;

  }
  .formfyrii p{
      color: black;
      font-size: 20px;
  }
  .mainbox{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    
    
    
  }
  .innerbox .input-btn{
     max-width: 700px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
  }
  .mainbox .input-btn .emailbox{
      width: 600px;
      
  }
  .mainbox .input-btn .signbtn{
      max-width: 100%;
    width: 100px;
    
    
   

  }
  .mainbox .input-btn .signbtn button{
background-color: #eb4a4a;
border:none;
  }
  
  .mainbox .input-btn .signbtn button:hover{
    transition: all 0.3s ease-in-out;
    background-color: black;
    
    }
.footer-brand{
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footerbground{
    background-color:  black; 
}
.left-footer-brand{
    width: 50%;
    
}
.right-footer-brand{
    width:50%;
    

}

.footer-text{
    color: white;
    width: 100%;
}
.footer-brand .right-footer-brand ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
    list-style: none;
    justify-content: flex-end;
    

}
.footer-brand .right-footer-brand ul li{
    margin-left: 30px;
    
}
.right-footer-brand ul a{
    display: inline-block;
    color: white;
    transition: all 0.3s ease-in-out;
}
.right-footer-brand ul a:hover{
transform: translateY(-5px);
color: #eb4a4a;

}

/* responsive */
@media(max-width:1200px){
    /* .image-box {
        transform: translateX(3%);
    } */
    .textbox h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .textbox p {
        font-size: 18px;
        line-height: 25px;
    }
        .threecols .row {
            --bs-gutter-x: 30px;
        }
        .innerbox .input-btn{
            max-width: 400px;
            
         }
         .mainbox .input-btn .emailbox{
             width: 300px;
             
         }
         .mainbox .input-btn .signbtn{
           width: 100px;
          
       
         }
         .img-contentbox {
            padding: 30px 30px;
        }
        .formstrt {
            padding-top: 70px;
        }
         /* .right-footer-brand .icons {
            padding-left: 200px;
        }
        .footer-brand {
            
            padding-left: 40px;
        } */
}

@media(max-width:991px){
    .textbox {
        margin-top: 0px;
    }
    .image-box {
        transform: unset;
        margin-top: 40px;
    }
    .image-box img{
        max-width: 100%;
    }
    .img-contentbox {
       margin: 20px 0px;
       height: auto;
    }
    .pink-img {
        height: 80px;
        width: 80px;
    }
    .orange-img{
        height: 80px;
        width: 80px;
    }
}

@media(max-width:767px){
    .container, .container-sm {
        max-width: 710px;
    }
    .formstrt {
        padding-top: 21px;
    }
    .formfyrii {
        padding: 25px 20px;
    }
    .innerbox .input-btn {
        max-width: 100%;
    }
    .mainbox .input-btn .emailbox {
        width: 100%;
    }
    .mainbox .input-btn .signbtn {
        width: 100%;
        padding-top: 10px;
    }
    .footer-brand {
        padding-top: 40px;
    }
    .textbox h1 {
        font-size: 35px;
        line-height: 40px;
}
.text-center h2 {
    font-size: 35px;
}
.btn {
   
    width: 100%;
}
}
@media(max-width:576px){
    .textbox h1 {
            font-size: 25px;
            line-height: 35px;
    }
    .text-center {
        padding-top: 5px;
    }
    .img-contentbox {
        margin: 12px 0px;
    }
    .img-contentbox {
        padding: 14px 30px;
    }
    .left-footer-brand {
        width: 100%;
    }
    .right-footer-brand {
        width: 100%;
    }
    .footer-brand .right-footer-brand ul {
        justify-content: flex-start;
        padding-top: 15px;
    }
    .footer-brand .right-footer-brand ul i {
        margin-left: 0px;
        margin-right: 15px;
    }
    .threecols .row {
        --bs-gutter-x: 15px;
    }
    .pink-img {
        height: 50px;
        width: 50px;
    }
    .orange-img{
        height: 50px;
        width: 50px;
    }
}